<!-- header-sidenav.component.html -->
<div class="header">
    <h1><span class="foodie">Foodie's</span><span class="haven">Haven</span></h1>
    <nav>
      <a href="/app-home">HOME</a>
      <a href="/app-dashboard">DASHBOARD</a>
      <a href="/app-admin-menu">MENU</a>
      <a href="/app-add-view-products">PRODUCTS</a>
      <a href="/app-coupon-info">COUPONS</a>
      <a href="/app-users-admin-info">USERS</a>
      <a href="/app-payment-history">PAYMENTS</a>
      <a href="/app-contact-info">CONTACT</a>
      <a href="javascript:void(0)" (click)="logout()">LOGOUT</a>
    </nav>
  </div>
  
  <div class="footer">
    <p>&copy; 2025 Foodie's Haven. All rights reserved.</p>
</div>
