<!-- header-sidenav.component.html -->
<div class="header">
    <h1><span class="foodie">Foodie's</span><span class="haven">Haven</span></h1>
    <nav>
      <a href="/app-home">HOME</a>
      <a href="/app-user-menu">MENU</a>
      <a href="/app-about">ABOUT</a>
      <a href="/app-contact">CONTACT</a>
      <a href="/app-cart"><i class="fas fa-shopping-cart"></i></a> <!-- Cart icon -->
      <a href="/app-user-info"><i class="fas fa-user"></i> {{ username }}</a>
      <a href="javascript:void(0)" (click)="logout()">LOGOUT</a>
    </nav>
  </div>
  
  <div class="footer">
    <p>&copy; 2025 Foodie's Haven. All rights reserved.</p>
</div>