<app-user-header-footer></app-user-header-footer>
<div class="about-us-container">
    <div class="image-container">
        <img src="https://tse3.mm.bing.net/th/id/OIP.2k_9fjklIINVLDcKuGZFKQHaFO?rs=1&pid=ImgDetMain" alt="Foodie's Haven">
    </div>
    <div class="card">
        <h2>About Us</h2>
        <p>
            Welcome to Foodie's Haven, where we bring our delicious dishes straight to your door! 🍽️ Browse our menu, order your favorite meals from the comfort of your phone, and enjoy fast delivery. Our mission is to make dining easy and enjoyable, offering a variety of mouth-watering options to satisfy your cravings. Experience the convenience of seamless online ordering and savor the flavors of Foodie's Haven today!
        </p>
        <p>
            <strong>Contact Us:</strong><br>
            <span>📞 Phone: (123) 456-7890</span><br>
            <span>📧 Email: info&#64;foodieshaven.com</span><br>
            <span>📍 Address: 123 Foodie Lane, HUDA Techno Enclave, Hyderbad, 500081</span>
        </p>
    </div>
</div>