<!-- header-sidenav.component.html -->
<div class="header">
    <h1><span class="foodie">Foodie's</span><span class="haven">Haven</span></h1>
    <nav>
      <a href="/app-about">ABOUT</a>
      <a href="/app-contact">CONTACT</a>
      <a href="/app-user-registration">SIGN UP</a>
      <a href="/app-user-login">LOGIN</a>
      <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
    </nav>
  </div>
  
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="/app-admin-login">Admin Login</a>
    <a href="/app-user-login">User Login</a>
  </div>

<div class="background">
    <div class="content">
        <h2>Welcome to Foodie's Haven</h2>
        <h3>Hungry?</h3>
        <p>Get Your Favorite Food Delivered</p>
        <p>Right to Your Doorstep</p>
        <div class="button-form">
            <button onclick="location.href='/app-menu'">Explore Menu</button> <!-- New User Registration button -->
        </div>
    </div>
</div>


<div class="footer">
    <p>&copy; 2025 Foodie's Haven. All rights reserved.</p>
</div>/* 